.bowler-innings-container{
    flex: 1;
}

.bowler-details-container-bowler-innings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 3vmax;
    display: none;
}

.flex{
    display: flex;
}
.stats-details-bowler-innings{
    display: flex;
    gap: 0.1vmax;
}

.bowler-details-container-bowler-innings h4{
    font-weight: 700;
}

.hide{
    display: none !important;
}

.show{
    display: flex;
}