.matches-container{
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.matches-container-main-content{
    margin-top: 5vh;
}

#button-container-matches-container{
    display: flex;
    justify-content: right;
}

#create-match-btn-matches-page{
    background-color: rgb(1, 168, 1);
    width: 12vmax;
}

#create-match-btn-matches-page:hover{
    background-color: rgb(0, 189, 0);
}

.matches-main-content{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

@media only screen and (max-width: 600px) {
    .matches-container{
        width: 95%;
    }
}