.player-stats-page-container {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
}

.main-content-container-player-stats-page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2.5vmax;
}

.search-bar-container{
    display: flex;
    justify-content: right;
}

#search-player {
    padding: 0.5%;
    border-radius: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 16px;
    transition: box-shadow 0.2s;
}

#search-player:focus {
    border: 1px solid transparent;
    outline: 1px solid transparent;
}

#search-player:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .player-stats-page-container {
        width: 95%;
    }
}