.register-team-container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-content-register-team{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    flex-direction: column;
    flex: 1;
}

.register-team-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.register-team-input input{
    width: 100%;
    padding: 1%;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 16px;
}

#image-upload-register-team{
    border: none;
}

@media only screen and (max-width: 600px) {
    .register-team-container{
        width: 95%;
    }
}