.score-machine-container{
    width: 100%;
    height: 15vh;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dfdfdf;
    padding: 2vmax;
}

.score-machine-container button{
    width: 6.5vmax;
    height: 5vmax;
    text-align: center;
}