.Main-div{
    width:70%;
    margin: 0 auto;
    background-color: #eeee;
    
}
.first-slot{
    align-items: center;
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    padding-right: 5%;
    border-bottom: 5px solid #7D0A0A;
}
.team-players-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.image-container img{
    display: flex;
    width: 15vb;
    height:15vb;
    border-radius: 50%;
    border: 5px solid black;
    max-width: 100%;
}
.image-container{
    padding-right: 5%;
    padding-bottom: 2%;
}

.stats-container{
    align-items: center;
    border-bottom: 5px solid #7D0A0A;
}
.headings-container{
    font-weight: 800;
    padding-right: 15%;
    padding-bottom: 2%;
}
.headings-container p{
    padding-bottom: 5%;
}
.total-container{
    display: flex;
    justify-content: center;

}
.stats-heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.values-container{
    padding-bottom: 2%;
}
.values-container p{
    padding-bottom: 15%;
}
.headings-one p{
    font-style: italic;
    font-size:100%;
}


.team-player-info{
    width:100%;
    background-color: white;
    padding-left:5%;
    margin-bottom: 20px;
}
.image-container-players img{
    width: 9vb;
    height:9vb;
    border-radius: 50%;
    border: 5px solid black;
}
.team-player-info:hover{
    border-bottom: 5px solid black;
    transition-delay: 30ms;
}
.image-container-players{
    padding:1%;
}
.team-player-info{
    display: flex;
    flex-direction: row;
}
.player-name{
    padding-top:5%;
    padding:3%;
    padding-left: 0%;
}

.join-team-button {
    width:100%;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    margin-top: 10%;
}

.join-button {
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .Main-div{
        width:95%;
    }
    .total-container{
        width:95%;
    }
    .headings-container{
        width:90%;
    }
    .values-container p{
        padding: 39%;
    }
    .image-container-players img{
        width: 5vb;
        height:5vb;
    }
    .image-container img{
        width: 8vb;
        height:8vb;
        
    }

}
